@media (max-width: 480px) {
    header {
        flex-direction: column; /* Elemanları dikey hizalayın */
        align-items: center; /* Ortalayın */
    }

    #search-box {
        width: 100%; /* Arama kutusunun genişliği */
        margin-top: 10px;
    }

    #logo {
        margin: 0;
        width: 70px; /* Logonun boyutunu daha da küçültün */
    }
}
